
form#restmini-service-test-execute-form {

}
form#restmini-service-test-execute-form div.form-item.form-type-checkbox {
  margin-top: 0;
  margin-bottom: 0.3em;
  padding-top: 0;
  padding-bottom: 0;
}
form#restmini-service-test-execute-form div.restmini-service-test-tests {
  margin-left: 1.5em;
  margin-bottom: 0.8em;
}

form#restmini-service-test-execute-form div.restmini-service-test-tests div.form-item.form-type-checkbox {
  margin-bottom: 0.2em;

}
