
div.form-item.form-type-checkbox label {
  font-weight: bold;
  font-size: 1em;
}
div.form-item.form-item-restmini-client-connecttimeout input,
div.form-item.form-item-restmini-client-responsetimeout input {
  text-align: right;
}

div#edit-actions.form-actions {
  margin-top: 2em;
}
