
table.restmini-service-list {
  /* Don't expand to ridiculous width. */
  display: table-cell;
}
div.form-item.form-type-checkbox label {
  font-weight: bold;
  font-size: 1em;
}
table.restmini-service-list tbody tr td {
  border-right: 0.1em solid #CCC;
}
table.restmini-service-list tbody tr td.restmini-service-list-path {
  padding-left: 3em;
}
table.restmini-service-list tbody tr td.restmini-service-list-enabled {
  text-align: center;
}
table.restmini-service-list tbody tr td.restmini-service-list-module-missing {
  text-decoration: line-through;
}
table.restmini-service-list tbody tr td {
  border-bottom: 0.1em solid #CCC;
}
p.restmini-service-list-notes {
  font-size: 0.95em;
  margin-bottom: 3em;
}
