
/* restmini and sub modules */
table.restmini thead tr th,
table.sticky-header thead tr th,
table.restmini tbody tr td.restmini-help-inner-legend {
  background-color: #DDD;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-right: 0.1em solid #BBB;
}
table.restmini tbody tr td.restmini-help-inner-legend {
  border: solid #AAA;
  border-width: 0.1em 0;
}
table.restmini tbody tr td.restmini-help-inner-legend.restmini-help-border-right {
  border-right: 0.1em solid #BBB;
}
table.restmini tbody tr.even {
  background-color: #EEE;
}
table.restmini tbody tr td.restmini-help-odd-even {
  background-color: #F6F6F6;
}
table.restmini th,
table.restmini td,
table.sticky-header th {
  font-family: 'Verdana','Lucida Grande','Lucida Sans Unicode',sans-serif;
}

/* restmini self. */
table.restmini-help {
  /* Don't expand to ridiculous width. */
  display: table-cell;
}
table.restmini thead tr th.restmini-help-capitalize,
table.sticky-header thead tr th.restmini-help-capitalize,
table.restmini tbody tr td.restmini-help-capitalize {
  text-transform: capitalize;
}
table.restmini-help tbody tr td.restmini-help-center {
  text-align: center;
}
table.restmini-help tbody tr td.restmini-help-bold {
  font-weight: bold;
}
table.restmini-help tbody tr td.restmini-help-border-right {
  border-right: 0.1em solid #CCC;
}
table.restmini-help tbody tr td.restmini-help-comment {
  line-height: 1.3em;
}
table.restmini-help tbody tr td.restmini-help-fault-client {
  background-color: #CCC;
  color: #333;
  font-weight: bold;
}
table.restmini-help tbody tr td.restmini-help-fault-server {
  background-color: #999;
  color: #FFF;
  font-weight: bold;
}
table.restmini-help tbody tr td.restmini-help-body-no,
table.restmini-help tbody tr td.restmini-help-body-yes,
table.restmini-help tbody tr td.restmini-help-body-optional {
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-indent: -9999em;
}
table.restmini-help tbody tr td.restmini-help-body-no:after,
table.restmini-help tbody tr td.restmini-help-body-yes:after,
table.restmini-help tbody tr td.restmini-help-body-optional:after {
  content: '\26aa';
  text-indent: 0;
  display: block;
  font-size: 1.4em;
  line-height: 1em;
  padding-left: 1em;
}
table.restmini-help tbody tr td.restmini-help-body-yes:after {
  content: '\26ab';
}
table.restmini-help tbody tr td.restmini-help-body-optional:after {
  content: '\25d1';
  color: #333;
}
